.cajitaGaleria{
    height: 300px;
    width: 300px;
    background-color:transparent ;
    border: 3px solid transparent;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    display: inline-lock;
    overflow: hidden;
    background-color: rgba(51, 149, 230, 0.178);
    justify-items: center;
    margin:auto
    
   
&_titulo{
    font-weight: bold;
    }
    
}

