header{
     width: 100%;
     height: 50px;

    main{
         padding: 2rem;
 
         }

        h1{
        color: darkslategrey;
        margin: 10px 0px 0px 550px;

            h2{
                 font-size: 20px;
                 padding: 25px;
                color: black;
            }

    
        }
    ul{ list-style: none;
        display: flex;
        justify-content:space-evenly;
        width: 100vh;
        height: 30%;

            li{
                  display: inline-flex;
                  padding: 5px;
                font-size: 15px;
            }

                p{
                    color:rgb(69, 107, 202);
                     font-weight: 400; 
                     }
        
    }
    

    .grey{
        background-color: rgba(169, 169, 169, 0.808);
    }
    

}















